
.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel__link{
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.carousel__link:hover {
  background: #a4a4a6;
}

.cyberforge{
  color: #00ffab;
  border: 0.2px solid #3f1b66;
  box-shadow: 1px 1px 15px #0b0c0e;
}

.cheesyburgerheaven{
  color: #FFDE6A;
  border: 1px solid #9B3615;
  box-shadow: 1px 1px 10px #FFDE6A;
}

.carousel__inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel__text{
  margin-left: 5%;
  margin-right: 5%;
  padding: 5em;
  width: 50%;
}

.carousel__item {
  min-width: 100%;
  display: none;
  transition: opacity 1s ease;
  border-radius: 8px;
  box-shadow: inset -1px 1px 20px 0px #a4a4a64a;
}

.carousel__item--active {
  background-image: url("../source/bg/cartographer.png"); 
  display: flex;
  justify-content: space-around;
}

.carousel__image {
  height: 600px;
  margin: 2em;
  margin-right: 8%;
  border-radius: 8px;
}

.carousel__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel__indicator {
  width: 28px;
  height: 8px;
  background-color: #1F2126;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.carousel__indicator--active {
  background-color: #81CB3D;
}

.carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.carousel__control--prev {
  left: 10px;
}

.carousel__control--next {
  right: 10px;
}

.carousel__control-icon {
  pointer-events: none;
}
